{% extends 'base.html' %}
{% load static %}

{% block content %}


<h1>User Profile</h1>


 <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
            {% if page_user.profile_pic %}
               <img src="{{page_user.profile_pic.url}}" class="card-img" >
            {% else %}
               <img src="{% static 'theblog/images/kriti.jpg' %}"  class="card-img" >
            {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{page_user.user.first_name}} {{page_user.user.last_name}}</h5>
          <p class="card-text">{{page_user.boi}}</p>
          <p class="card-text"><small>
            <a href="{% url 'show_profile' page_user.id%}" >User Profile |</a>
            <a href="{{page_user.website_url}}" >Website |</a>
            
            <a href="{{page_user.facebook_url}}">Facebook</a></small></p>
        </div>
      </div>
    </div>
  </div>




{% endblock %}